@model BeeColonyFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="PlateNumber"></label>
                <input asp-for="PlateNumber" class="form-control" placeholder="Регистрационна табела на кошера, ако има такава">
                <span asp-validation-for="PlateNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalComment"></label>
                <input asp-for="AdditionalComment" class="form-control" placeholder="Допълнителна информация за кошера">
                <span asp-validation-for="AdditionalComment" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfBroodBox"></label>
                <input asp-for="TypeOfBroodBox" class="form-control" placeholder="Дадан блат, многокорпусен и т.н.">
                <span asp-validation-for="TypeOfBroodBox" class="small text-danger"></span>
            </div>
            <div class="checkbox">
                <label for="Super">Има ли магазини</label>
                <input type="checkbox" id="Super" name="Super" asp-for="@Model.Super" />
                <span asp-validation-for="Super" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSupers"></label>
                <input asp-for="NumberOfSupers" class="form-control" placeholder="Кошерът има ли магазини">
                <span asp-validation-for="NumberOfSupers" class="small text-danger"></span>
            </div>
            <div class="checkbox">
                <label for="SecondBroodBox">Втори плодник</label>
                <input type="checkbox" id="IsChecked" name="SecondBroodBox" asp-for="@Model.SecondBroodBox" />
                <span asp-validation-for="SecondBroodBox" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdditionalBoxes"></label>
                <input asp-for="NumberOfAdditionalBoxes" class="form-control" placeholder="Кошерът има ли допълнителни корпуси">
                <span asp-validation-for="NumberOfAdditionalBoxes" class="small text-danger"></span>
            </div>
            <div class="checkbox">
                <label for="MatedBeeQueen"> Има ли оплодена майка</label>
                <input type="checkbox" id="MatedBeeQueen" name="MatedBeeQueen" asp-for="@Model.MatedBeeQueen" />
                <span asp-validation-for="MatedBeeQueen" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeeQueen.Breeder"></label>
                <input asp-for="BeeQueen.Breeder" class="form-control">
                <span asp-validation-for="BeeQueen.Breeder" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeeQueen.BeeQueenType"></label>
                <input asp-for="BeeQueen.BeeQueenType" class="form-control">
                <span asp-validation-for="BeeQueen.BeeQueenType" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeeQueen!.BeeQueenYearOfBirth"></label>
                <input asp-for="BeeQueen!.BeeQueenYearOfBirth" class="form-control">
                <span asp-validation-for="BeeQueen!.BeeQueenYearOfBirth" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiaryId"></label>
                <select asp-for="ApiaryId" class="form-control">
                    @foreach (var apiary in Model.Apiaries)
                    {
                        <option value="@apiary.Id">@apiary.Name</option>
                    }
                </select>
                <span asp-validation-for="ApiaryId" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Запази" />
        </form>
    </div>
</div>