@model IEnumerable<ApiaryViewModel>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="container-fluid" justify-content-center>
    <div class="row">
        <div class="col-8 mt-3">
            <div class="img-square-wrapper">
                <img class="" src="/images/ApiaryAll.jpg" alt="Card image cap">
            </div>
            <body>
                @foreach (var apiary in Model)
                {
                    <div class="container">
                        <h1>@apiary.Name</h1>
                        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal-@(apiary.Id)">Повече информация</button>
                        <div class="modal fade" id="myModal-@(apiary.Id)" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title-center">@apiary.Name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Адрес: @apiary.Location</p>
                                        <p>Регистрационен номер: @apiary.RegistrationNumber</p>
                                        <p>Брой кошери: @apiary.NumberOfHives</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Затвори</button>
                                        <a href="/Apiary/Edit/@apiary.Id" class="btn btn-light">Редакция</a>
                                        <a asp-controller="Apiary" asp-action="Delete" asp-route-id="@apiary.Id" class="btn btn-danger" onclick="return confirm('Сигурни ли сте,че искате да изтриете този преглед? Данните Ви ще бъдат загубени!')">Изтриване</a>
                                        <a asp-controller="BeeColony" asp-action="All" asp-route-id="@apiary.Id" class="btn btn-link mb-2 w-100 p-1 fw-bold">Виж информация за кошерите</a>
                                        <a asp-controller="BeeColony" asp-action="Add" asp-route-id="@apiary.Id" class="btn btn-link mb-2 w-100 p-1 fw-bold">Добави нов кошер</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </body>
            <div class ="col-5 mt-3">
                <a asp-controller="Apiary" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Добави нов пчелин</a>
           </div>
            
        </div>
    </div>
</div>
