@model BeeColonyViewModel

@{
    ViewBag.Title = "Детайли за кошера";
}

<div class="container-fluid" justify-content-center>
    <div class="row">
        <div class="col-8 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="/images/BeeColonyDetails.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center">@ViewBag.Title</h3>
                        <p class="mb-0"><span class="fw-bold">Регистрационен номер: </span>@Model.PlateNumber</p>
                        <p class="mb-0"><span class="fw-bold">Магазини: </span>@Model.Super</p>
                        <p class="mb-0"><span class="fw-bold">Брой магазини: </span>@Model.NumberOfSupers</p>
                        <p class="mb-0"><span class="fw-bold">Втори плодник: </span>@Model.SecondBroodBox</p>
                        <p class="mb-0"><span class="fw-bold">Допълнителни корпуси: </span>@Model.NumberOfAdditionalBoxes</p>
                        <p class="mb-0"><span class="fw-bold">Система на отглеждане: </span>@Model.TypeOfBroodBox</p>
                        <p class="mb-0"><span class="fw-bold">Допълнителна информация: </span>@Model.AdditionalComment</p>
                        <p class="mb-0"><span class="fw-bold">Оплодена майка: </span>@Model.MatedBeeQueen</p>
                        <p class="mb-0"><span class="fw-bold">Майкопроизводител: </span>@Model.BeeQueen.Breeder</p>
                        <p class="mb-0"><span class="fw-bold">Порода на майката: </span>@Model.BeeQueen.BeeQueenType</p>
                        <p class="mb-0"><span class="fw-bold">Година на майката: </span>@Model.BeeQueen.BeeQueenYearOfBirth</p>
                        <a asp-controller="Inspection" asp-action="All" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-2 fw-bold">Виж всички прегледи</a>
                        <a asp-controller="Inspection" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-2 fw-bold">Добави преглед</a>
                        <a asp-controller="BeeColony" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-2 fw-bold">Редакция</a>
                        <a asp-controller="BeeColony" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" onclick="return confirm('Сигурни ли сте,че искате да изтриете този кошер? Данните Ви ще бъдат загубени!')">Изтриване</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

