@model PictureViewModel

@{
    ViewBag.Title = "Добави нова снимка";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.PictureName" class="form-label-add-edit">PictureName</label>
                <input asp-for="@Model.PictureName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.PictureName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PicturePath" class="form-label-add-edit">PicturePath</label>
                <textarea asp-for="@Model.PicturePath" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Добави" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

