@model dynamic

<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            margin-left: -5px;
            margin-right: -5px;
        }

        .column {
            float: left;
            width: 50%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Баланс</h1>
    <p class="text-center">
        За правилното управление на всяко предприятие е необходимо да имате точна информация за получените приходи и направените разходи.
        Тук можете да добавите тези данни, както и да видите своя краен баланс.
    </p>
    <p class="text-center">
        Имайте предвид, че въведената информация за третирания и подхранвания се добавя автоматично към таблицата.
    </p>

    <div class="row">
        <div class="column">
            <h2 class="text-center">Приходи</h2>
            <a asp-controller="Balance" asp-action="AddIncome" class="btn btn-light mb-2 w-100 p-1 fw-bold">Добави нов приход</a>
            <table>
                <tr>
                    <th>Дата</th>
                    <th>Приход</th>
                    <th>Стойност</th>
                    <th></th>
                </tr>
                @foreach (var i in Model.Income)
                {
                    <tr>
                        <td>@i.DayOfTheIncome</td>
                        <td>@i.TypeOfIncome</td>
                        <td>@i.IncomeValue</td>
                        <td>
                            <a asp-controller="Balance" asp-action="DeleteIncome" asp-route-id="@i.Id" class="btn btn-warning"
                               onclick="return confirm('Сигурни ли сте,че искате да изтриете инфомацията за получения приход? Данните Ви ще бъдат загубени!')">
                                <span class="glyphicon">&#128465;</span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="column">
            <h2 class="text-center">Разходи</h2>
            <a asp-controller="Balance" asp-action="AddCost" class="btn btn-light mb-2 w-100 p-1 fw-bold">Добави нов разход</a>
            <table>
                <tr>
                    <th>Дата</th>
                    <th>Разход</th>
                    <th>Стойност</th>
                    <th></th>
                </tr>
                @foreach (var c in Model.Cost)
                {
                    <tr>
                        <td>@c.DayOfTheCost</td>
                        <td>@c.TypeOfCost</td>
                        <td>@c.CostValue</td>
                        <td>
                            <a asp-controller="Balance" asp-action="DeleteCost" asp-route-id="@c.Id" class="btn btn-warning"
                               onclick="return confirm('Сигурни ли сте,че искате да изтриете инфомацията за направения разход? Данните Ви ще бъдат загубени!')">
                                <span class="glyphicon">&#128465;</span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>


