@model dynamic

<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            margin-left: -5px;
            margin-right: -5px;
        }

        .column {
            float: left;
            width: 50%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Баланс</h1>
    <p>
        За правилното управление на всяко предприятие е необходимо да имате точна информация за получените приходи и направените разходи.
        Тук можете да добавите тези данни, както и да видите своя краен баланс.
        Имайте предвид, че въведената информация за третирания и подхранвания се добавя автоматично към таблицата.
    </p>

    <div class="row">
        <div class="column">
            <h2>Приходи</h2>
            <table>
                <tr>
                    <th>Дата</th>
                    <th>Приход</th>
                    <th>Стойност</th>
                </tr>
                @foreach (var i in Model.Income)
                {
                    <tr>
                        <td>@i.DayOfTheIncome</td>
                        <td>@i.TypeOfIncome</td>
                        <td>@i.IncomeValue</td>
                    </tr>
                }
            </table>
        </div>
        <div class="column">
            <h2>Разходи</h2>
            <table>
                <tr>
                    <th>Дата</th>
                    <th>Разход</th>
                    <th>Стойност</th>
                </tr>
                @foreach (var c in Model.Cost)
                {
                    <tr>
                        <td>@c.DayOfTheCost</td>
                        <td>@c.TypeOfCost</td>
                        <td>@c.CostValue</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</body>


