@model IEnumerable<HiveTreatmentViewModel>

@{
    int count = 0;
}

@{
    ViewBag.Title = "Третиране на кошерите";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="left mb-2">
    <a asp-controller="Treatment" asp-action="Add" class="btn btn-warning mb-2 w-100 p-1">Добави новo третиране</a>
</div>

<div class="text-center row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Препарат</th>
                <th scope="col">Активна съставка</th>
                <th scope="col">Цена</th>
                <th scope="col">Брой третирани кошери</th>
                <th scope="col">Повече информация</th>
                <th scope="col">Изтриване</th>
            </tr>
        </thead>
        @foreach (var i in Model)
        {
            {
                count = count + 1;
            }

            <tbody>
                <tr>
                    <th scope="row">@count</th>
                    <td>@i.TreatmentDate</td>
                    <td>@i.MedicationName</td>
                    <td>@i.ActiveIngredient</td>
                    <td>@i.PriceOfTheTreatment</td>
                    <td>@i.NumberOfTreatedColonies</td>
                    <td>@i.ResultAndCommentAboutTheTreatment</td>
                    <td>
                        <a asp-controller="Treatment" asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger"
                           onclick="showDeleteConfirmation(event, '<span class=&quot;glyphicon glyphicon-trash&quot;></span> Да, изтрий!')">
                            &#128465;
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/deleteConfirmation.js"></script>
    }